/*  COLOR CODES
    RED1: #E41619
    RED2: #FD535F
    H1:   #1F1E1F
    P:    #706c70
    BLCK: #0D0D0D
*/



.container {
    width: 90%;
    padding: 0 8.3333333%; }
h2,
h5 {
    font-weight: 900;
    letter-spacing: 1em;
    word-wrap: break-word;
    text-transform: uppercase;
    color: #1F1F1F; }
h2 {
    font-size: 36px;
    line-height: 100px;
    margin: .5em -1em .5em 0; }
h5 {
    font-size: 18px;
    line-height: 18px;
    margin: 1em -1em 0 0; }
p {
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: .1em;
    color: #1F1E1F; }
p.icon-label {
    text-transform: uppercase;
    letter-spacing: .6em;
    font-size: 12px;
    line-height: 30px;
    font-weight: 900; }
p.light {
    color: #706c70; }
.white {
    color: #FFF; }

img {
    max-width: 100%;
    margin: auto; }
.icon {
    margin-top: 26px; }
.icon img {
    margin: 24px auto; }

.figures {
    display: table;
        margin: 400px auto 50px;
    position: relative;
    overflow: auto;
    width: auto; }
figure {
    max-width: 400px;
    float: left;
    background: #000;
    box-shadow: 5px 5px 30px 5px rgba(0,0,0,.1); }
    figure figcaption {
        background: linear-gradient(to right, #FD535F, #E41619);
        display: flex;
        font-size: 36px;
        padding: 0 1em;
        min-height: 8.6em;
        align-items: center; }
        figure figcaption h2 {
            max-width: 100%;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            margin: auto;
            transform: translateX(.5em); }
        figure figcaption img {
            position: absolute;
            max-height: 90%;
            top: 50%;
            left: 50%;
            width: auto;
            margin: auto;
            pointer-events: none;
            transform: translate(-50%, -50%); }
    figure p {
        padding: 10% 15%;
        margin: 0; }


        .pull-2 {
            margin:  -100px 0 100px -16.66666667%; }
footer {
    padding: 150px 0;
    background: linear-gradient(to right, #FD535F, #E41619); }
    footer form ::placeholder {
        color: #1f1e1f;
        letter-spacing: 1em;
        font-weight: 900; }
    footer form input[type="text"],
    footer form input[type="email"],
    footer form textarea {
        position: relative;
        background: transparent;
        outline: none;
        border: 1px solid transparent;
        border-bottom-color: #000;
        padding: 0 1.5em;
        width: 100%;
        margin: 0 0 2em;
        letter-spacing: .2em;
        color: #1f1e1f;
        font-size: 12px;
        line-height: 64px; }
        footer form textarea {
            resize: none;
            min-height: 10em; }
            footer form textarea::placeholder {
                padding-top: 5em;
                box-sizing: content-box; }
    footer form input[type="submit"] {
        font-size: 18px;
        line-height: 100px;
        letter-spacing: 1em;
        width: 100%;
        color: #fff;
        background: #000;
        border: 0px; }
    footer .lets-talk {
        font-weight: 900;
        word-wrap: break-word;
        text-transform: uppercase; }
        footer .lets-talk a {
            text-decoration: none;
            display: block;
            width: 100%;
            color: #1F1F1F;
            font-size: 24px;
            line-height: 1em;
            letter-spacing: 1em; }
            footer .lets-talk span.big {
                text-decoration: none;
                display: block;
                width: 100%;
                color: #FFF;
                font-size: 72px;
                line-height: 188px;
                letter-spacing: 1em;
                transform: translateX(1em);
                text-align: right; }
        footer ul {
            padding: 0;
            margin: 30px 0;
            text-align: right; }
            footer ul li {
                display: inline-block;
                padding: 1em  0 1em 3em; }
                footer ul.menu-footer {
                    margin: 100px 0 0; }
                footer ul.menu-footer li a {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 14px;
                    letter-spacing: .025em;
                    opacity: .5; }
        footer .copyright {
            text-align: right;
            color: #FFF;
            font-size: 12px;
            letter-spacing: .025em;
            opacity: .2; }
